<!doctype html>
<html>

<head>
    <title>Movies!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }
        button {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h3>Search For A Movie</h1>
            <div class="md-form">
                <form method="POST" action="/movies">
                    Movie Name: <input type="text" name = "name">
                    <input type="submit" value="Go">
                </form>  
            </div>
            <button>See Saved Movies</button>
        </div>
        <div class="search-result">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>

</html>