body {
    margin: 3%;
}

#save-movie-button {
    margin: 10px;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

#detail-list{
    padding: 0;
}

li {
    margin-top: 10px;
}

#result-details{
    font-size: 15px;
}

.saved-movie {
    margin: 15%
}

.saved-movie p {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 20px;
}